@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
  transition: all 0.3s;
  transition: all 0.3s;
  font-size: 16px;
  font-family: "Montserrat",sans-serif;  
}
body{
  background-image: url('/images/background.jpg');
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}
input{
  color: #000;  
  background-color: white;
  justify-content: center;
  border-style:outset;
  border-width: 3px;
  border-color: #000;
  border-radius: 3px;
  width: 390px;
  height: 25px;
  padding: 12px;
  text-align: center;
  margin: 5px;
}
input:hover{
  transform: scale(1.05);
}
#send {
  color: #000;  
  background-color: rgb(198, 198, 198);
  justify-content: center;
  border-style:outset;
  border-width: 3px;
  border: color #000;
  border-radius: 3px;  
  padding: 8px;
  width: 300px;
  justify-content: center;
  display: grid;  
  margin: 0 auto; 
}
#send:hover{
    background-color: #000;
    color: white;
    transform: scale(1.05);
}
div {
  display: grid;
  place-content: center;
  margin-top: 3%;
}
p {
  margin: 25px;  
  }
#logoCard {
  width: 90px;
  height: 60px;
  position: fixed;
  top: 490px; 
  left: 1125px; 
}
#cardContainer {
  border: 5px solid;
  border-color: black;
  border-radius: 7px;
  width: 450px;
  height: 250px;
  position: fixed;
  top: 270px;
  left: 780px;      
}
#resultContainer{
  width: 450px;
  height: 250px;
  position: relative;    
  left: -250px;    
  color: white;
}
#nameCard{  
  position: fixed;
  top: 495px;
  left: 790px;
}
#bankName{
  position: fixed;
  top: 325px;
  left: 790px;  
  font-size: 40px;
}
#maskedNumber{
  position: fixed;
  top: 465px;
  left: 790px;  
}
#validityStatus{
  position: fixed;
  top: 415px;
  left: 790px;   
  color: #D82C2C ;
  font-size: 30px;
}
p.textCard{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
}
#chip{
  width: 80px;
  height: 60px;
  position: fixed;
  top: 335px; 
  left: 1135px; 
}
#mainContainer {
  background-color: rgba(0, 0, 0, 0.7);
  width: 950px;
  height: 400PX;
  position: relative;
  top: -15px; 
  left: 320px;
  border-radius: 12px;
}